# Dependencies
node_modules/
npm-debug.log*

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# macOS
.DS_Store

# Local env files
.env*.local

# IDE
.vscode/
.idea/
